@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
}
nav{
    padding-top: 15px;
    height: 100px;
    width: 81%;
    margin: auto;
    background-color:#ffffff2f;
    text-align: center;
}
nav a{
    font-size: 40px;
    margin: 9%;
    color: #ffffff;
}
footer{
    color: #ffffff;
    text-align: center;
    background-color: #ffffff2f;
    margin: auto;
    width: 81%;
}
main{

    font-size: 25px;
    color: #ffffff;
}
section{
    width: 81%;
    text-align: center;
    margin: auto;
}
body{
    background-image: url(imagens/fundo.jpg);
    background-position: center;
}
#imagens_curiosidade{
    height: 250px;
    width: 250px;
    float: left;
}