@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
}
nav{
    padding-top: 15px;
    height: 100px;
    width: 100%;
    margin: auto;
    background-color:#ffffff2f;
    text-align: center;
}
nav a{
    font-size: 40px;
    margin: 3%;
    color: #ffffff;
}
footer{
    color: #ffffff;
    text-align: center;
    background-color: #ffffff2f;
    margin: auto;
    width: 100%;
    height: 50px;
}
main{
    text-indent: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 100%;
    font-size: 25px;
    color: #ffffff;
    margin: auto;
    background-color: rgb(56, 47, 47);
    box-shadow: 3px rgba(71, 49, 49, 0.822);
}
section{
    width: 81%;
    text-align: center;
    margin: auto;
    display: block;
}
body{
    background-color: black;
    width: 85%;
    text-align: center;
    margin: auto;
}
#imagens{
    height: 50%;
    width:calc(50% + 130px);
    display: inline-block;
}
p{
    display: inline-block;
}
div{
    margin: 150px 0px;
    text-align: justify;
}
#final{
    margin: 0px;
}